# files ext
*.sql
*.tgz
*.tar.gz
*.tar
*.rar
*.zip
*.mp3
*.mp4
*.webm
*.mov
*.MOV
*.wav
*.flv
*.db
*.psd
*.pdf
*.doc
*.docx
*.txt
*.text
*.log
*.config
*.xml
*.tbk

# dirs & files
/bower_components/
/node_modules/
/nbproject/
/cache/
/phpMyAdmin-*
/timthumb_cache/
/webstat/
/.idea/
/.csscomb.json
/.htaccess
/sitemap*.xml
/sftp-config.json
/robots.txt
/bower.json
/.bowerrc
vendor/
/test.php

test*.php
.httpauth-disable
.htsecure

# ai-bolit
ai-bolit.php
.aurlignore
.aignore
.adirignore
AI-BOLIT-*

# core
/bitrix/
upload/